.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}
.logo img{
    width: 70px;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.companyName{
    font-size: 26px;
    font-family: kumbhBold;
    color: rgba(244, 130,0, 1);
}

.companyTagline{
    font-family: kumbh;
    color: rgb(47, 40, 133);
    font-size: 14px;
    text-align: right;
}

.companyName span{
    color: rgba(14, 17, 98, 1);
}

/* .links{
    width: 15%;
} */

.links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.links ul a{
    font-size: 16px;
    color: rgba(14, 17, 98, 1);
    font-family: kumbhBold;
    transition-duration: 0.3s;
    gap: 5px;
}

.links ul a:hover{
    color: rgba(14, 17, 98, 0.8);
}


/* .categories{
    
} */

.categories ul{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.categories ul a{
    font-size: 14px;
    color: rgb(140, 140, 141);
    font-family: kumbhBold;
    transition-duration: 0.3s;
}

.icons{
    display: flex;
    gap: 10px;
}

.icons img:first-child{
    width: 20px;
}

.icons img{
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .container{
        padding: 10px 20px 10px 20px;
    }
    .categories ul{
        gap: 5px;
    }
    .links ul{
        gap: 5px;
    }
}

@media screen and (max-width: 1000px){
    .container{
        padding: 10px 20px 10px 20px;
    }
    .categories{
        display: none;
    }
    .links ul{
        gap: 5px;
    }
}