.container{
    border: 2px solid red;
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}

.allProducts{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.heading{
    font-size: 40px;
    font-family: kumbhBold;
    color: rgb(47, 40, 133);
}